commands:
    01_install_yarn:
        command: |
            set -e
            npm i -g yarn
            ln -s "$(npm bin --global)"/yarn /usr/bin/yarn
        test: "! yarn -v"

container_commands:
  fix_permissions:
    command: "chmod -R 755 /var/app/current"

  install_app_with_yarn:
    command: "yarn install --production && yarn build"
    leader_only: true
  
  start_application:
    command: "npm run start:prod"
    leader_only: true
